/* Stylesheet */


body {
	background: #000;
}

p, h3 {
	font-family: 'Merriweather Sans', sans-serif;
}

h3 {
	text-transform: uppercase;
}

header {
	
}

nav {
	
}

blockquote {
	
}

footer {
	
}

section {
	
}

.container_12 {
	background: #FFF;
}
	